/* Body
------------------------- */
body {
  padding-bottom: 0;
  padding-top:0;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size:11pt;
  line-height:1.5;
}

.margintop {
  margin-top:90px;
}



h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}



.h1, h1 {
  font-family:'Montserrat', Arial Black, sans-serif;
  text-transform: uppercase;
  color:#B59141;
  font-weight:700;
  font-size:2em;

}

.h2, h2 {
    color:#8BC052;
    font-weight:500;
    text-transform:capitalize;
    font-size: 1.75rem;
    font-family:Helvetica Neue, Arial, sans-serif;
}
.h3,h3 {
    font-weight:500;
    font-size: 1.5rem;
}
.h4, h4 {
    font-size: 1.25rem;
}
.h5,h5 {
    font-size: 1rem;
}
.h6,h6 {
    font-size: 0.75rem;
}

.headers {
  padding-top:1rem;
  padding-bottom:1rem;
}

.divider {
  margin:3rem;
}

.container, .container-fluid {
  padding:0;
}


.jumbotron {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #EEEEEE;
  border:15px solid white;
  border-radius: 0;
}



.jumbotron2 {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
  border-radius: 0;
}

.headerbg {
  padding: 10rem 2rem;
  background-color: #EEEEEE;
  border-radius: 0;
  height: 100%;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.row {
  margin:0;
}


.no-gutters {
  padding:0;
  margin:0;
}

a {
  color: #9E9E9E;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #9E9E9E;
  text-decoration: underline;
}

.btn-primary {
  background-color: #8BC052;
  border:0;
  font-size:12pt;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.5);
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #616161;
  border-color: none !important;
  box-shadow: 0 !important;
}






/* Nav Bar
------------------------- */

#Logo{
  transition: all 0.3s;
  max-height:50px;
}

.largeLogo {
  height: 50px;
  margin:20px;
}

.smallLogo {
  height: 40px;
  margin:15px 15px 15px 20px;
}

.navbar-brand {
  padding:0;
}

.navbar {
  background-color:#004F39;
  padding:0;
}

.navbar-hidden {
    background-color: transparent;
}

.navbar-hidden.scrolled {
    background-color:#004F39;
    transition: background-color 100ms linear;
}


.navbar-nav {
  padding:0;
  text-align:center;
}

.nav-item {
  padding:0.5rem;
}

.navbar-toggler {
  padding:0;
  border:0;
  margin-right:1em;

}

.navbar-collapse {
  margin-right: 2em;
  margin-left: 2em;
}




/* Carousel
------------------------- */

@media (max-width: 769px) {

  .carousel-item {
    height:28rem !important;
  }

  .carousel-caption h1 {
    font-size:2rem;
  }

}

.carousel-caption {
  padding:0;
  z-index: 10;
  text-shadow: 0 0 15px #616161;
  top: 55%;
  transform: translateY(-50%);
}

.carousel-indicators li {
  width:10px;
  height:10px;
  border-radius:50%;
  cursor:pointer;
}

.carousel-item {
  height: 28rem;
  background-color: #777;
  background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Index
------------------------- */

.boilerplate {
  font-size:2.5em;
  font-weight:bold;
  line-height:1;
}


.missionicon {
  width:100px;
}

.countericon {
  width:75px;
}


.counterwrapper {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 2em;
    color: #B59141;
}

.counterwrapper p {
    font-weight:bold;
    margin-top:-10px;
}

.counter-value {
    font-family:'Montserrat', Arial Black, sans-serif;
    text-transform: uppercase;
    color:#B59141;
    font-weight:700;
    font-size:3em;
}


.table-sm th, .table-sm td {
  padding:0.5rem;
}


#instafeed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#instafeed img {
    display: block;
    width:100%;
    height:100%;
  }




/* Footer
------------------------- */

  .footer-jumbotron {
    background-color:#004F39;
    color:white;
    border-radius:0;
    margin:0;
    padding:3rem 2rem 2rem 2rem;
  }


  .footerhr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top:1px solid white;
  }



      .footersocial {
        margin: 0 auto;
        white-space: nowrap;
        display: table;
      }

      .footersociallogo {
        vertical-align: middle;
        display: table-cell;
        padding:10px;

      }


      .footersociallogo img {
        max-height:30px;
        max-width:100%;
      }


      .footerhierarchy {
        margin: 25px auto;
        white-space: nowrap;
        display: table;
      }

      .footerhierarchylogo {
        vertical-align: middle;
        display: table-cell;
        padding: 0px 10px;
      }

      .footerhierarchylogo img {
        max-width:100%;
        max-height: 50px;
      }

  .copyright {
      margin:0;
      font-size:10pt;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-style: italic;
  }

  .back-to-top {
      position: fixed;
      bottom: 40px;
      right: 40px;
      display:none;
      width:50px;
      height:50px;
      z-index:1039;
      border-radius: 50%;
      padding-top:10px;
  }













/* Events
------------------------- */

.eventstint {
  color:white;
  background-size:cover;
  background-image:
      linear-gradient(
      rgba(0, 80, 58, 0.7),
      rgba(0, 80, 58, 0.7)
    ),
    url('../img/pics/events-headerbg.jpg');
}

.events {
  width:100%;
}

/* OLD DATE STUFF
.date {
  position: absolute;
    top: 10px;
    left: 25px;
    background-color: #FFF;
    color: #000;
    width: 60px;
    height: 60px;
    text-align: center;
}

.month {
    display: block;
    background-color:#f50f4b;
    font-size: 11px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
    padding:2px 4px;
}

.day {
    display: block;
    font-size: 32px;
    font-weight:bold;
    margin-top:-5px;
}
*/

.badge {
  display: inline-block;
  font-size: 9pt;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}


.badge-pill {
  padding: 0.4em 0.8em;
  border-radius: 1em;
}

.badge-social {
  color: #fff;
  background-color: #E53935;
}

.badge-cc {
  color: #fff;
  background-color: #FFB300;
}

.badge-academic {
  color: #fff;
  background-color: #1E88E5;
}

ul.event-details {
    padding: 0;
    list-style: none;
    text-indent: -17pt;
    margin-left: 32pt;
}

ul.event-details li i.fa {
  color:#B49048;
}








/* Partnership
------------------------- */

.partnershiptint {
  color:white;
  background-position:center center repeat;
  background-size:cover;
  background-image:
      linear-gradient(
      rgba(0, 80, 58, 0.7),
      rgba(0, 80, 58, 0.7)
    ),
    url('http://via.placeholder.com/1920x1080');
}

div.partners {
  width:200px;
  height:200px;
  overflow:hidden;
  margin:10px auto;
}

.partners img {
  width: 100%;
}




/* Team
------------------------- */
.teamtint {
  color:white;
  background-position:0 20%;
  background-size:cover;
  background-image:
      linear-gradient(
      rgba(0, 80, 58, 0.6),
      rgba(0, 80, 58, 0.6)
    ),
    url('../img/pics/team.jpg');
}


div.portraits {
  width:150px;
  height:150px;
  overflow:hidden;
  border-radius:50%;
  margin:10px auto;
}

.portraits img {
  margin: -30px auto;
  width: 100%;
}


div.portraitsmodal {
  margin:0 10px;
}


.modal-open .modal {
  z-index: 1138;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color:#9E9E9E;
}

.btn-hidden {
    font-weight: 400;
    color: #000;
    background-color: transparent;
    font-size:11pt;
    padding-top:0;
    padding-bottom:0;
    cursor:pointer;
}
.btn-hidden:hover {
    color: #000;
    background-color: #E0E0E0;
    border-color: transparent;
}
.btn-hidden.focus,
.btn-hidden:focus {
    border-color: transparent;
    box-shadow: none;
}
.btn-hidden.disabled,
.btn-hidden:disabled {
    color: #868e96;
}



.indent {
  text-indent:30px;
}


.socialicon img {
    height:25px;
}

.socialicon a:hover {
  opacity:0.5;
}

span.accreditation {
  font-size:10pt;
}
