.counterwrapper{
  text-align: center;
 position: relative;
  display: inline-block;
 background-color: rgba(20,62,53,0.6);
  padding: 0.5em; 
border-radius: 5px; 
  margin: 0.5em;
  box-shadow: 8px 8px 5px #888888;
    height: 160px;
    width: 225px;
    color: white;
}
.counter-value {
  font-size: 3.3em;
  font-family: Arial Black;
    color: white;
}