p.intro {
  text-align:center;
  width:50%;
  margin:0 auto;
}

p.names {
  text-align:center;
}

div.row benefits {
  text-align:center;
}

img.logo {
  height:50px;
}

img.portraits {
  display: inline;
  margin: -30px auto;
  width: 100%;
}

div.portraits {
  width:150px;
  height:150px;
  overflow:hidden;
  position:relative;
  border-radius:50%;
}
