p.intro {
  text-align:center;
  width:75%;
  margin:0 auto;
}

p.names {
  text-align:center;
  font-size:10pt;
}

p.footer {
  margin:0;
  padding:20px;
}

div.row benefits {
  text-align:center;
}

img.logo {
  height:50px;
}

img.portraits {
  display: inline;
  margin: -30px auto;
  width: 100%;
}

div.portraits {
  width:175px;
  height:175px;
  overflow:hidden;
  position:relative;
  border-radius:50%;
  margin:20px auto;
}

.footercontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:#064F3A;
    color:white;
}

.btn.btn-secondary.apply {
  width:250px;
  height:50px;
  padding:12px;
}

.center {
  text-align:center;
}
